/* Body */

body {
  font-family: "roboto", sans-serif;
  position: relative;
  width: 1600px;
  height: 2348px;
  background: #ffffff;
  margin: auto;
}


*, *::before, *::after 
{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
              

}



/* Nav */

.nav-bar .studio:hover,
.nav-bar .studio:focus,
.nav-bar .studio:active {
  text-decoration: underline  2px #2196F3 ;
  text-underline-offset: 33px;
  border-radius: 2px;
  
}
.nav-bar .portofolio:hover,
.nav-bar .portofolio:focus,
.nav-bar .portofolio:active {
  text-decoration: underline  2px #2196F3 ;
   text-underline-offset: 33.5px;
   border-radius: 2px;
  
}

.nav-bar .contacts:hover,
.nav-bar .contacts:focus,
.nav-bar .contacts:active {
  text-decoration: underline  2px #2196F3 ;
   text-underline-offset: 33.5px;
   
  
  
}





.nav a {
  padding: 0.5em;
  text-decoration: none;
  position: relative;
}




.main-nav {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-family: "roboto", sans-serif;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 50%;
}

.nav {
  display: flex;
  
  
}

.global-nav{
   display: flex;
  width: 1600px;
  height: 80px;
  
}

.nav-bar{
  display: flex;
  width: 1600px;
  height: 80px;
  margin-left: 215px;
  
}

.menu-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar ul {
  display: flex;
  justify-content: space-between;
  width: 259px;
height: 48px;
flex-shrink: 0;
margin-left: 93px;
gap:50px;
margin-top:32px;
}

.nav-bar ul {

  list-style-type: none;
}

.web {
  display: flex;
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  width: 145px;
  height: 31px;
 justify-content: center;
 align-items: center;
 margin-top:24px;
 margin-bottom: 25px;
  color: rgb(0, 0, 0);
}

.line {
  /* This is how i think we need to do for that line  */
  display: flex;
  width: 1600px;
  margin: 0;
  border: 1px solid #ececec;
  justify-content: center;
  align-items: center;
  
}

.nav .studio {
  display: flex;
  width: 42px;
  height: 16px;
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #212121;
}

.nav .portofolio {
  display: flex;
  width: 57px;
  height: 16px;
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.28px;
  color: #212121;
}

.nav .contacts {
  display: flex;
  width: 59px;
  height: 16px;
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.28px;
  color: #212121;
}

.contacts-header {
  display: flex;
  width: 100%;
  height: 16px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 200px;
  gap: 60px;
  margin-top:32px;
}



.contacts-header .svg-mail {
  width: 16px;
  height: 11.996px;
  flex-shrink: 0;
  margin-right: 10px;
}
.contacts-header .svg-phone {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
}
.contacts-header .mail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.28px;
  text-decoration: none;
  color: #757575;
}

.contacts-header .phone {
  display: flex;
  width: 134px;
  height: 16px;
  align-content: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.28px;
  text-decoration: none;
  color: #757575;
}

.contacts-header .mail:hover,
.contacts-header .phone:hover {
  color: #2196f3;
}
.contacts-header .mail:focus,
.contacts-header .phone:focus {
  color: #2196f3;
}

.nav ul li a:hover,
.nav ul li a:focus {
  color: #2196f3;
}

.web-logo {
  color: #2196f3;
}
span {
  color: #757575;
}

/* Head Section*/

.group-container {
  display: flex;
  width: 1600px;
  height: 600px;
 justify-content: center;
 align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40)), url(./images/ImgHeader.jpg);
}

.group-container .group-btn-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}



.group-title h2 {
  display: flex;
  color: #FFF;
  width: 696px ;
  height: 120px;
text-align: center;
font-family: "Roboto";
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
margin: 0;

}

.group-btn{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}

.group-btn .btn-req-service{
  border:none;
    display: flex;
    width: 200px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
justify-content: center;
align-items: center;
color: white;
}





/* Group Section */
.group1 .main-group1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  gap: 30px;
 width: 100%;
height: 251px;
flex-shrink: 0;
}

.main-group1 .text-icon {
  padding-top: 15px;
}

.main-group1 .svg-icons {
  display: flex;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

.container-text-icon .container-icons {
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main-group1 p {
  width: 270px;
  height: 75px;
  flex-shrink: 0;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.main-group1 h3 {
  color: #212121;
  width: 270px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* What We Do Section */

.what-we-do ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.what-we-do {
  width: 1170px;
  height: 386px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-right: 40px;
  margin-top: 94px;
}

.whatwedo-title h2 {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}



.cards-elements{
 
  position: relative;
  
}

.overlay-text{
  position: absolute;
  bottom: 3.5px;
 width: 370px;
height: 70px;
flex-shrink: 0;
  background: rgba(47, 48, 58, 0.80);
  margin-top:224px;
  
  
}
.overlay-text h2{
  color: #FFF;
text-align: center;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-top:27px

}

/* Our Team Section*/

.our-team {
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: 708px;
  flex-shrink: 0;
  background: #f5f4fa;
  align-items: center;
  margin-top: 94px;
  justify-content: center;
}

.our-team h2 {
  width: 165px;
  height: 42px;
  left: 718px;
  top: 1543px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
}

.our-team ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}


.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  flex-shrink: 0;

  flex-direction: column;
}

.our-team span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 5px;
}

.our-team h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  color: #212121;
}

.icon-list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
}

.icon-list .icon {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  
}

.icon-list .icon:hover ,
.icon-list .icon:focus  {
  background: #2196f3;
  
  
}

.icon-list .icon:hover svg ,
.icon-list .icon:focus svg  {
  color: #ffffff;
  
  
}


.icon-list .icon svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color:#afb1b8;
  
}

.container-card1,
.container-card2,
.container-card3,
.container-card4 {
  margin-top: 30px;
  text-align: center;
}

.title-list h2{
  display: flex;
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
justify-content: center;
margin-top:94px;  
}

.regular-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.regular-section .container-list svg{
  color:#757575
}


.regular-section .regular-list {
  display: flex; 
  justify-content: center;
  width: 1170px;
height: 184px;
flex-shrink: 0;
gap:30px;
align-items: center;
}

.regular-list .container-list {
  display: flex;
  width: 170px;
height: 92px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #AFB1B8;
}
.regular-list .container-list svg:hover,
.regular-list .container-list svg:focus{

  color: #2196F3;
  

}
.regular-list .container-list:hover,
.regular-list .container-list:focus{
  border: 1px solid #2196F3;
}


/* Footer Section */

.main-footer {
  display: flex;
  width: 1600px;
  height: 251px;
  background: #2f303a;
  margin-top:94px;
  
}
.main-footer .container-section {
  display: flex;
 gap:94px;
}

.global-footer{
  margin-left:215px;
  margin-top:60px;
}

.global-footer a{
  text-decoration: none;
  

}

.global-footer .mail-phone{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-top:28px;
  gap:12px
}

.global-footer .address {
  width: 207px;
height: 16px;
flex-shrink: 0;
color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.42px;

}

.global-footer .logo{
  color: #ffffff;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.global-footer .mail-footer,
.global-footer .phone-footer{
  color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.42px;
width: 231px;
height: 16px;
flex-shrink: 0;

}



.address:hover,
.mail-footer:hover,
.phone-footer:hover {
  color: #2196f3;
}
.address:focus,
.mail-footer:focus,
.phone-footer:focus {
  color: #2196f3;
}

.footer-links{
  display: flex;
  flex-direction: column;
 margin-top:60px;
 width: 206px;
height: 80px;
flex-shrink: 0;

}

.links-list{
  display: flex;
  gap: 10px;
  
}

.links-list .icon-footer svg{
  display: flex;
  width: 20px;
height: 20px;
flex-shrink: 0;

}

.footer-links .links-list .icon-footer{
  display: flex;
  width: 44px;
height: 44px;
flex-shrink: 0;
justify-content: center;
align-items: center;
background-color: rgba(255, 255, 255, 0.10);
border-radius: 22px;
}

.footer-links .links-list .icon-footer:hover,
.footer-links .links-list .icon-footer:focus{
  background-color: #2196F3;
  
}

.footer-links .links-list .icon-footer:hover svg,
.footer-links .links-list .icon-footer:focus svg {
  color: #ffffff;
  }

  .footer-links .links-list .icon-footer svg,
.footer-links .links-list .icon-footer  svg {
  color: #ffffff;
  }

.footer-links h3{
 color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

/* Portofolio */

.container1 {
  display: flex;
  width: 1170px;
  height: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 215px;
  margin-top:94px;
 
}

.container1 .filter1 {
  display: flex;
  width: 516px;
height: 38px;
flex-shrink: 0;
gap:8px;
margin-top:94px;
margin-bottom: 54px;;
}

.global-project{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  
}
.project .global-project{
  display: flex;
  align-items: center;
  
}

.global-project .project1{
   box-sizing: border-box;
  width: 370px;
height: 404px;
flex-shrink: 0;
  
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}





.project span {
  color: #757575;
}



.btn-active {
  border: none;
  border-radius: 4px;
  width: 64px;
  height: 38px;
  cursor: pointer;
  background: #F5F4FA;
  color: #212121;
  
  
}

section .filter1 .btn-active:hover,
section .filter1 .btn-active:focus {
  background-color: #2196f3;
  color: white;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btnWeb {
  background: #f5f4fa;
  border-radius: 4px;
  width: 120px;
  height: 38px;
  left: 614px;
  top: 128px;
  border: none;
  cursor: pointer;
}

section .filter1 .btnWeb:hover,
section .filter1 .btnWeb:focus {
  background-color: #2196f3;
  color: white;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btnApps {
  width: 83px;
  height: 38px;
  left: 742px;
  top: 128px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
section .filter1 .btnApps:hover,
section .filter1 .btnApps:focus {
  background-color: #2196f3;
  color: white;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btnDesign {
  width: 96px;
  height: 38px;
  left: 833px;
  top: 128px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
section .filter1 .btnDesign:hover,
section .filter1 .btnDesign:focus {
  background-color: #2196f3;
  color: white;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btnMarketing {
  width: 121px;
  height: 38px;
  left: 937px;
  top: 128px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
section .filter1 .btnMarketing:hover,
section .filter1 .btnMarketing:focus {
  background-color: #2196f3;
  color: white;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.global-project .project1:hover,
.global-project .project1:focus{
  border: 1px solid #EEE;
background: #FFF;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* Modal */

.modal{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 

 
 
}

.modal-content{
  padding:16px;
  background:#ffffff;
  width: 528px;
height: 581px;
flex-shrink: 0;
  margin:0 auto;
  position: relative;
  transform: scale(1); 
  transition: opacity 0.3s ease-in, transform 0.3s ease-in; 
}

.is-hidden{
visibility: hidden;
}

.close-btn svg{
  background-color: #fff;
  border: none;
  width: 18px;
height: 18px;
flex-shrink: 0;
color: #fff;
cursor: pointer;
position: absolute;
right: 10px;
top:16px;
}

.close-btn {
  background-color: #fff;
  border: none;
}


